@import url("base.css");

body {
  background-color: #000;
  color: #fff;
}

.map {
  max-width: 100%;
  image-rendering: auto;
}

.map_container {
  display: flex;
  flex-direction: row;
}

.sidemap {
  margin-left: 10px;
}
