@import url("base.css");

body {
  background-color: #000;
  color: #fff;
}

.map {
  width: calc(70% - 10px);
  image-rendering: auto;
}

.main_stuff {
  display: flex;
  flex-direction: row;
}

.sidemap {
  margin-left: 10px;
}
