* {
  font-family: Consolas;
}

body {
  color: white;
  background-color: #21212b;
}

a {
  color: white;
}
a:visited {
  color: #808080;
}

.commit_list * {
  margin:5px;
}

.commit_list div * {
  background-color: yellow;

}

img {
  padding: 1ch;
  max-width: 100%;
}
