
@font-face {
	font-family: "VGA";
	src: url("./fonts/web_ibm_model30r0.woff");
}

* {
	background-color: #000;
	color: #fff;
	font-family: "VGA";
}

.back_link {
	color: #fff;
}

.back_link:visited {
	color: #fff;
}

.img {
    max-width: calc(100vw - 16px);
}
